@import '../../styles/constants';

.ngc-toc-container {
  font-size: 13px;
  position: fixed;
  top: 25px;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.ngc-toc-list {
  padding: 5px 15px 10px 10px;
}

.ngc-level-h1 {
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

a {
  line-height: 16px;
  margin: 8px 0 0;
  text-decoration: none;
  display: block;
}

.ngc-level-h2 {
  font-weight: bold;
}

.ngc-level-h3 {
  margin-left: 12px;
}
