@import '../../styles/constants';

:host {
  font-size: 13px;
  // Width is container width minus content width
  width: 19%;
  top: 0;
  padding-left: 25px;
  box-sizing: border-box;
  display: inline-flex;
}

.ngc-toc-container {
  position: fixed;
  top: 80px;
  bottom: 12px;
  overflow-y: auto;
  overflow-x: hidden;

  @media (max-width: $small-breakpoint-width) {
    position: inherit;
  }
}

.ngc-toc-list {
  padding: 5px 15px 10px 10px;
}

.ngc-level-h1 {
  margin: 0;
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

a {
  line-height: 16px;
  margin: 8px 0 0;
  position: relative;
  text-decoration: none;
  display: block;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}

.ngc-level-h2 {
  font-weight: bold;
}

.ngc-level-h3 {
  margin-left: 12px;
}
