<mat-toolbar class="ngc-navbar">
  <mat-toolbar-row *ngIf="isScreenSmall()" class="ngc-navbar">
    <mat-icon class="ngc-logo" svgIcon="eye" matTooltip="{{eyeIconMessage}}"></mat-icon>
    <h1>{{title}}</h1>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button mat-icon-button class="sidenav-toggle" (click)="toggleSidenav.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-icon *ngIf="!isScreenSmall()" class="ngc-logo" svgIcon="eye" matTooltip="{{eyeIconMessage}}"></mat-icon>
    <h1 *ngIf="!isScreenSmall()">{{title}}</h1>
    <div class="flex-spacer"></div>
    <ngc-theme-toggle class="theme-toggle"></ngc-theme-toggle>
  </mat-toolbar-row>
</mat-toolbar>