<mat-toolbar class="ngc-navbar">
  <mat-toolbar-row *ngIf="isScreenSmall()" class="ngc-navbar">
    <mat-icon class="ngc-logo" svgIcon="eye" matTooltip="{{eyeIconMessage}}"></mat-icon>
    <h1>{{title}}</h1>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button mat-icon-button class="sidenav-toggle" (click)="toggleSidenav.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-icon *ngIf="!isScreenSmall()" class="ngc-logo" svgIcon="eye" matTooltip="{{eyeIconMessage}}"></mat-icon>
    <h1 *ngIf="!isScreenSmall()">{{title}}</h1>
    <div class="flex-spacer"></div>
    <ngc-search-box (onSearch)="doSearch($event)" (onFocus)="doSearch($event)"></ngc-search-box>
    <ngc-theme-toggle class="theme-toggle"></ngc-theme-toggle>
    <a mat-icon-button href="https://github.com/AndrewGuerrero/ng-caryll">
      <mat-icon svgIcon="github"></mat-icon>
    </a>
    <button mat-icon-button class="sidenav-toggle" (click)="toggleSidenavEnd.emit()">
      <mat-icon>list</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>