@import '../../../node_modules/@angular/material/theming';
@import '../../styles/constants';

@mixin nav-theme($theme) {
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);
  $nav-background-opacity: if($is-dark-theme, 0.2, 0.03);
  $nav-background-focus-opacity: if($is-dark-theme, 0.25, 0.08);

  .ngc-nav-container {
    border-right: solid 4px mat-color($primary);

    a {
      color: mat-color($foreground, secondary-text);

      &.ngc-item-selected,
      &:hover {
        color: mat-color($primary);
      }
    }
  }
}
