@import '../../styles/constants';

.ngc-nav-container {
  height: 100%;

  a {
    font-size: 14px;
    text-decoration: none;
    display: block;
  }
  
}

@media (max-width: $small-breakpoint-width) {
  .docs-component-viewer-nav {
    position: relative;
    top: 0;

    .docs-component-viewer-nav-content {
      box-sizing: border-box;
      margin: 0;
      max-height: initial;
    }
  }
}