@import '../../app-theme';
@import '../../styles/gruvbox-theming';
@import '../../highlightjs/gruvbox-dark';

$primary: mat-palette($gruvbox-dark-aqua);
$accent:  mat-palette($gruvbox-dark-gray);

$theme: gruvbox-dark-theme($primary, $accent);
@include angular-material-theme($theme);
@include ng-caryll-app-theme($theme);