@import '../../../styles/constants';

.sidenav-toggle, .theme-toggle {
  padding: 0;
  min-width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;

  mat-icon {
    font-size: 30px;
    height: 32px;;
    width: 32px;
    line-height: 32px;
  }
}

.ngc-navbar-header {
  max-height: 86px;
}

.flex-spacer {
  flex: 1 1 auto
}