@import '../app-theme';
@import '../styles/gruvbox-theming';

$dark-purple-primary: mat-palette($gruvbox-dark-purple);
$dark-purple-accent:  mat-palette($gruvbox-dark-gray);
$dark-purple-theme: gruvbox-dark-theme($dark-purple-primary, $dark-purple-accent);