@import '../../../styles/constants';

ngc-document-viewer {
  font-weight: 400;

  // spacing for the component viewer
  padding: 40px 50px 50px 40px;

  @media ($mat-xsmall) {
    padding-left: $content-padding-side-xs;
    padding-right: $content-padding-side-xs;
  }
}

.ngc-document-viewer-content {
  position: relative;
  min-height: 500px;
  display: flex;
  align-items: flex-start;

  @media (max-width: $small-breakpoint-width) {
    flex-direction: column;
  }

  ngc-table-of-contents {
    top: 35px;
    position: sticky;

    // Reposition on top of content on small screens and remove
    // sticky positioning
    @media (max-width: $small-breakpoint-width) {
      order: -1;
      width: auto;
      padding-left: 0;
    }
  }
}

.ngc-document-viewer-text-content {
  flex-grow: 1;
  width: 100%;

  width: 80%;
  display: inline-flex;

  @media (max-width: $small-breakpoint-width) {
    width: 100%;
    margin-right: 0;
  }
}