@import '../../styles/constants';

.ngc-sidenav-container {
  box-sizing: border-box;
}

.ngc-sidenav {
  @include mat-elevation(4);
  overflow: auto;
  width: 215px;
}

.ngc-sidenav-end {
  @include mat-elevation(4);
  overflow: auto;
  width: 365px;
}

.ngc-sidenav-end {
  @include mat-elevation(4);
  width: 285px;
}

.ngc-sidenav-content {
  min-height: 100%;
}

.ngc-sidenav-body-content {
  display: block;
  padding: 0 30px;
}